<div class="jumbotron">
  <h1>Index route</h1>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h2>Questions:</h2>
  </div>
  <div class="panel-body">
    <ul>
      {{#each model as |question|}}
      <li>{{#link-to 'question' question.id}}<strong>{{question.title}}</strong>{{/link-to}} - {{question.author}}</li>
      {{/each}}
    </ul>
  </div>
</div>

{{new-question saveQuestion="saveQuestion"}}
