{{question-tile question=model}}

{{update-question question=model updateQuestion="update"}}

{{new-answer saveAnswer="saveAnswer" question=model}}

<button {{action 'delete' model}} class="btn btn-sm btn-danger">Delete question</button>
